<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 contact-left">
    <h3 class="contact-title">Our Location</h3>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="store-image">
                <img src="/assets/images/logo.png" alt="Pizza Star" title="Pizza Star" class="img-responsive">
            </div>
            <div class="store-address">
                <i class="fa fa-home"></i>
                <div class="store-title">Pizza Star</div>
                <div class="store-detail">National park,d1 588436,UA</div>
                <a href="#" class="btn btn-info">
                    <i class="fa-solid fa-location-dot"></i> View Google Map
                </a>
            </div>
            <div class="store-telephone">
                <i class="fa fa-phone"></i>
                <div class="store-title">Telephone</div>
                <div class="store-detail">+1 (123) 8425733</div>
            </div>
            <div class="store-open">
                <i class="fa-regular fa-clock"></i>
                <div class="store-title">Opening Times</div>
                <div class="store-detail">10:00 to 23:00</div>
            </div>
        </div>
    </div>
</div>